html {
  background-color: #aaa;
  height: 80%;
  padding: 64px 0;
}

body {
  font-family: sans-serif;
  width: 50%;
  min-width: 640px;
  margin: 0 auto;
  padding: 32px;
  background-color: #f8f8f8;
  height: 100%;
}

header {
  text-align: center;
  border-bottom: 1px solid #444;
  margin-bottom: 64px;
}
